.card-container {
    background:url('../../Assets/stars.png');
    padding: 150px 20px;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    gap: 15rem;
    @media screen and (max-width:1400px) {
        padding: 90px 30px;
    }
    @media screen and (max-width:990px) {
        padding: 70px 20px;
        gap: 10rem;
        background:url('../../Assets/Mobile.png');
    }
    @media screen and (max-width:700px) {
        gap: 10rem;
    }
    @media screen and (max-width:500px) {
        gap: 8rem;
    }

    .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        @media screen and (max-width:990px) {
            padding: 0px 20px;
        }
        @media screen and (max-width:700px) {
            padding: 0px 10px;
        }

        h2 {
            font-size: var(--main-heading);
            margin-bottom: 10px;
            font-weight: 700;
            @media screen and (max-width:990px) {
                font-size: 20px;
            }
            @media screen and (max-width:750px) {
                font-size: 18px;
            }
        }
        div{
            font-size: var(--card-para);
            color: #5a5555;
            font-weight: 500;
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        padding: 0 20px;
        @media screen and (max-width:1400px) {
            gap: 1.5rem;
        }
        @media screen and (max-width:1292px) {
            gap: 10rem;
        }
        @media screen and (max-width:990px) {
            gap: 8rem;
        }

        .card {
            max-width: 300px;
            text-align: center;
            position: relative;
            padding: 100px 20px 50px 20px;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            background: #FFFEFE;
            box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            @media screen and (max-width:1400px) {
                padding: 80px 17px 45px 17px;
                max-width: 270px;
                gap: 1.2rem;
            }
            @media screen and (max-width:990px) {
                padding: 60px 14px 40px 14px;
                max-width: 250px;
                gap: 1rem;
            }
            @media screen and (max-width:700px) {
                padding: 50px 10px 35px 10px;
                max-width: 230px;
                gap: .8rem;
            }

            .img {
                position: absolute;
                top: -110px;
                left: 67px;
                border-radius: 20px;
                width: 160px;
                height: 160px;
                // box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.05);


                @media screen and (max-width:1400px) {
                    width: 140px;
                    height: 140px;
                    top: -100px;
                    left: 61px;
                }
                @media screen and (max-width:990px) {
                    width: 130px;
                    height: 130px;
                    top: -97px;
                    left: 59px;
                }
                @media screen and (max-width:700px) {
                    width: 120px;
                    height: 120px;
                    top: -90px;
                    left: 54px;
                }
            }

            .bio {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                @media screen and (max-width:550px) {
                    gap: .2rem;
                }

                h5 {
                    font-weight: 700;
                    font-size: var(--card-heading);
                    @media screen and (max-width:990px) {
                        font-size: 18px;
                    }
                    @media screen and (max-width:750px) {
                        font-size: 15px;
                    }

                }

                .title {
                    color: #F1B211;
                    font-size: var(--card-para);
                    font-weight: 400;
                    font-style: italic;

                }

                span {
                    font-weight: 400;
                    font-size: var(--card-para);
                    color: #5a5555;
                }
            }

            .icons {
                display: flex;
                gap: 1rem;
                justify-content: center;
            }

        }
    }
}