.info-contanier {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 70px 40px;

    @media screen and (max-width:1400px) {
        padding: 50px 40px;
    }

    @media screen and (max-width:1200px) {
        padding: 50px 30px;
    }

    @media screen and (max-width:990px) {
        padding: 40px 30px;
        gap: 2rem;
    }

    @media screen and (max-width:910px) {
        padding: 40px 20px;
    }

    .info {
        display: flex;
        justify-content: center;
        gap: 5rem;

        @media screen and (max-width:1200px) {
            gap: 4rem;
        }

        @media screen and (max-width:990px) {
            gap: 3rem;
        }

        @media screen and (max-width:750px) {
            flex-direction: column;
            gap: 1rem;
        }

        .left-container {
            h2 {
                font-size: var(--main-heading);
                font-weight: 400;
                line-height: 40px;
                text-align: left;


                @media screen and (max-width:990px) {
                    font-size: 20px;
                    line-height: 25px;
                }

                @media screen and (max-width:750px) {
                    font-size: 18px;
                }

                span {
                    font-weight: 700;
                }
            }
        }

        .divider-line {
            border: 1px solid #F1B211;
            height: 80px;


            @media screen and (max-width:1200px) {
                height: 60px;
            }

            @media screen and (max-width:990px) {
                height: 50px;
            }

            @media screen and (max-width:750px) {
                height: 1px;
            }
        }

        .right-container {
            width: 30%;
            font-size: var(--card-para);
            font-weight: 400;
            @media screen and (max-width:1400px) {
                width: 50%;
            }
            @media screen and (max-width:1200px) {
                width: 70%;
            }
            @media screen and (max-width:990px) {
                gap: 100%;
            }
            
        }
    }

    .flex-cards {
        display: flex;
        justify-content: center;
        gap: 3.2rem;

        @media screen and (max-width:1400px) {
            gap: 2.5rem;
        }

        @media screen and (max-width:1200px) {
            gap: 2rem;
        }

        @media screen and (max-width:990px) {
            gap: 1rem;
            flex-direction: column;
        }

        .card-data {
            padding: 40px 60px 40px 40px;
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px 2px rgba(39, 39, 39, 0.06);
            border-radius: 20px;

            .icon {
                img {
                    height: 45px;
                }
            }

            @media screen and (max-width:1400px) {
                padding: 35px 40px;
            }

            @media screen and (max-width:1200px) {
                padding: 30px 30px;
            }

            @media screen and (max-width:990px) {
                padding: 25px 30px;
            }

            .card-info {
                line-height: 35px;
                @media screen and (max-width:990px) {
                    line-height: 20px;
                }


                h5 {
                    font-weight: 700;
                    font-size: var(--card-heading);

                    @media screen and (max-width:990px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width:750px) {
                        font-size: 15px;
                    }

                }

                a {
                    font-weight: 400;
                    font-size: var(--card-para);
                    color: #F1B211;

                    @media screen and (max-width:1200px) {
                        font-size: 13px;
                    }

                }
            }
        }
    }

    .bio {
        display: flex;
        justify-content: center;
        gap: 10rem;

        // flex-wrap: wrap;
        @media screen and (max-width:1400px) {
            gap: 8rem;
        }

        @media screen and (max-width:1200px) {
            gap: 5rem;
        }

        @media screen and (max-width:990px) {
            gap: 2rem;
        }

        @media screen and (max-width:910px) {
            flex-direction: column;
            gap: 2rem;
        }

        .image {


            iframe {
                box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
                border-radius: 20px;

                @media screen and (max-width:1400px) {
                    width: 600px;
                    height: 400px;
                }

                @media screen and (max-width:1200px) {
                    height: 370px;
                    width: 480px;
                }

                @media screen and (max-width:990px) {
                    height: 370px;
                    width: 450px;
                }

                @media screen and (max-width:910px) {
                    height: 370px;
                    width: 100%;
                }
            }

        }

        .message {
            padding: 40px 50px;
            align-items: center;
            display: flex;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            @media screen and (max-width:1400px) {
                padding: 30px;
            }

            @media screen and (max-width:1200px) {
                padding: 0 20px;
            }

            @media screen and (max-width:910px) {
                padding: 30px 20px;
                justify-content: center;
            }

            h5 {
                color: #F1B211;
                text-align: center;
                font-size: var(--card-heading);
                font-weight: bold;
                margin-bottom: 9px;
                @media screen and (max-width:990px) {
                    font-size: 18px;
                }
                 @media screen and (max-width:750px) {
                    font-size: 15px;
                }

            }

            ::placeholder {
                color: #00A859;
            }

            .flex-field {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;

                @media screen and (max-width:1200px) {
                    gap: 1rem;
                }

                @media screen and (max-width:910px) {
                    width: 100%;
                }

                input {
                    width: 270px;
                    border: 1px solid #F1B211;
                    border-radius: 10px;
                    padding: 10px 15px;
                    font-size: var(--card-para);
                    color: #00A859;

                    @media screen and (max-width:910px) {
                        width: 100%;
                    }

                }

                button {
                    width: 50%;
                    padding: 8px 10px;
                    background-color: #00A859;
                    border-radius: 10px;
                    font-weight: bold;
                    color: white;
                    font-size: var(--card-para);
                    font-weight: bold;
                    outline: none;
                    border: 1px solid #F1B211;
                    margin-top: 5px;

                    @media screen and (max-width:1200px) {
                        padding: 8px 8px;
                    }

                    @media screen and (max-width:910px) {
                        width: 100%;
                    }

                }

                button:hover {
                    background-color: #047540;
                }
            }

        }
    }

}