.info-contanier {
    .info {
        display: flex;
        padding: 70px 0;
        justify-content: center;
        gap: 5rem;
        flex-wrap: wrap;

        @media screen and (max-width:1400px) {
            padding: 40px 0;
        }

        .left-container {
            h5 {
                font-size: 35px;
                font-weight: 400;
                line-height: 50px;
                letter-spacing: 0em;
                text-align: left;

                @media screen and (max-width:1400px) {
                    font-size: 30px;
                }

                span {
                    font-weight: 700;
                }
            }
        }

        .divider-line {
            border: 1px solid #F1B211;
            height: 90px;
        }

        .right-container {
            font-size: 20px;
            font-weight: 400;

            @media screen and (max-width:1400px) {
                font-size: 18px;

            }
        }
    }

    .flex-cards {
        display: flex;
        justify-content: center;
        gap: 3.2rem;
        flex-wrap: wrap;

        .card-data {
            padding: 50px 60px;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px 2px rgba(39, 39, 39, 0.06);
            border-radius: 20px;

            @media screen and (max-width:1400px) {
                padding: 35px 45px;
            }

            @media screen and (max-width:1200px) {
                padding: 30px 40px;
            }

            @media screen and (max-width:990px) {
                padding: 25px 35px;
            }

            .card-info {
                line-height: 40px;
                span {
                    font-weight: 400;
                    font-size: 23px;
                    color: #F1B211;

                    @media screen and (max-width:1400px) {
                        font-size: 20px;
                    }

                    @media screen and (max-width:1200px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width:1400px) {
                        font-size: 15px;
                    }
                }

                h5 {
                    font-weight: bold;
                    font-size: 26px;
                    color: #F1B211;

                    @media screen and (max-width:1400px) {
                        font-size: 23px;
                    }

                    @media screen and (max-width:1200px) {
                        font-size: 20px;
                    }

                    @media screen and (max-width:990px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .bio {
        display: flex;
        justify-content: center;
        gap: 8rem;
        padding: 100px 50px;
        flex-wrap: wrap;

        .image {
            img {
                width: 780px;
                height: 470px;

                @media screen and (max-width:1400px) {
                    height: 350px;
                    width: 600px;
                }

                @media screen and (max-width:1200px) {
                    height: 350px;
                    width: 450px;
                }
            }
        }

        .message {
            padding: 0 50px;
            align-items: center;
            display: flex;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            h5 {
                color: #F1B211;
                text-align: center;
                font-size: 27px;
                font-weight: bold;
                margin-bottom: 9px;

            }

            ::placeholder {
                color: #00A859;
            }

            .flex-field {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;

                input {
                    width: 270px;
                    border: 1px solid #F1B211;
                    border-radius: 10px;
                    padding: 10px 15px;
                    font-size: 18px;
                    font-weight: bold;
                }

                button {
                    width: 50%;
                    padding: 7px 10px;
                    background-color: #00A859;
                    border-radius: 10px;
                    font-weight: bold;
                    color: white;
                    font-size: 22px;
                    font-weight: bold;
                    outline: none;
                    border: 1px solid #F1B211;
                    margin-top: 5px;

                }
            }

        }
    }

}