.footer-bar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00A859;
    @media only screen and (max-width: 1200px) {
        height: 7vh;
    }
    @media only screen and (max-width: 990px) {
        height: 8vh;
    }

    footer {
        color: white;
        font-weight: 400;
        font-size: var(--card-para);
        display: flex;
        align-items: center;
        gap: .5rem;
        span{
            font-size: 20px;
        }
        @media only screen and (max-width: 770px) {
            font-size: 10px;
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
    }
}