.footer-container {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.75)), url('../../Assets/Footer/Footer.jpg');
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;

    @media screen and (max-width:990px) {
        gap: 3rem;

    }

    @media screen and (max-width:770px) {
        gap: 3rem;

    }

    .tomb {
        img {
            width: 100%;
            margin-top: -1px;
        }
    }

    .flex-footer {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        margin-top: 7rem;

        @media screen and (max-width:1200px) {
            margin-top: 5rem;
        }

        @media screen and (max-width:990px) {
            margin-top: 4rem;
        }

        @media screen and (max-width:770px) {
            margin-top: 2rem;

        }


        img {
            height: 110px;

            @media screen and (max-width:1200px) {
                height: 100px;

            }

            @media screen and (max-width:990px) {
                height: 90px;
            }
        }

        p {
            color: white;
            margin: 0;
            font-size: var(--card-para);
            text-align: center;
            max-width: 550px;
            padding: 0 10px;
            font-family: var(--font-family);


        }
    }

    .search-box {
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding: 0 10px;


        @media screen and (max-width:990px) {
            gap: 2rem;

        }

        @media screen and (max-width:770px) {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        .text {
            color: white;
            font-weight: 400;
            font-size: 32px;

            @media screen and (max-width:1200px) {
                font-size: 28px;

            }

            @media screen and (max-width:990px) {
                font-size: 23px;

            }
        }

        .search {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 39px;
            border-radius: 10px;
            position: relative;

            @media screen and (max-width:1200px) {
                font-size: 18px;
            }

            @media screen and (max-width:1200px) {
                font-size: 14px;
            }

            input {
                width: 500px;
                padding: 15px 20px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.5);
                color: white;
                font-family: var(--font-family);


                @media screen and (max-width:1200px) {
                    width: 450px;
                    padding: 13px 20px;
                }

                @media screen and (max-width:990px) {
                    width: 350px;
                    padding: 11px 20px;
                }

                @media screen and (max-width:550px) {
                    width: 332px;
                }

            }

            ::placeholder {
                color: white;
            }

            button {
                background-color: #00A859;
                color: white;
                padding: 15px 30px;
                border-radius: 10px;
                position: absolute;
                top: 0px;
                right: 0;
                outline: none;
                font-family: var(--font-family);


                @media screen and (max-width:1200px) {
                    padding: 13px 20px;
                }

                @media screen and (max-width:990px) {
                    padding: 11px 20px;
                }
            }
        }
    }

    .manage-display {
        .info {
            display: flex;
            justify-content: center;
            gap: 9rem;
            padding-bottom: 5rem;

            @media screen and (max-width:1200px) {
                gap: 5.5rem;
            }

            @media screen and (max-width:990px) {
                gap: 3.4rem;
                padding-bottom: 3rem;

            }

            @media screen and (max-width:770px) {
                flex-direction: column;

            }

            .section {
                display: flex;
                flex-direction: column;
                gap: 1rem;


                @media screen and (max-width:1200px) {
                    gap: .5rem;
                }

                @media screen and (max-width:770px) {
                    width: 100%;
                    align-items: center;
                }

                .heading {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .icon {
                        color: #fff;
                        margin: 0 auto;
                        display: none;

                        @media screen and (max-width:770px) {
                            display: block;
                        }
                    }



                    h5 {
                        font-size: var(--card-heading);
                        color: white;
                        font-weight: 700;

                        @media screen and (max-width:1200px) {
                            font-size: 18px;
                        }

                        @media screen and (max-width:990px) {
                            font-size: 15px;
                        }
                    }

                    img {
                        width: 90px;

                        @media screen and (max-width:770px) {
                            display: none;
                        }
                    }

                }

                .data {
                    color: white;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    font-family: var(--font-family);


                    @media screen and (max-width:770px) {
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        display: none;
                    }

                    div {
                        font-size: var(--card-para);

                        @media screen and (max-width:990px) {
                            font-size: 12px;
                        }

                    }

                    .icons {
                        padding-top: 10px;
                        display: flex;
                        gap: .5rem;

                        img {
                            height: 20px;

                        }
                    }
                }

                .contact {
                    color: white;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    font-family: var(--font-family);


                    @media screen and (max-width:770px) {
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                    }

                    div {
                        font-size: var(--card-para);

                        @media screen and (max-width:990px) {
                            font-size: 12px;
                        }

                    }

                    .icons {
                        padding-top: 5px;
                        display: flex;
                        gap: .5rem;

                        img {
                            height: 20px;

                        }
                    }
                }
            }
        }
    }

}