.footer-container {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.75)), url('../../Assets/Footer-Image.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;
        .tomb{
            position: absolute;
        }

    .flex-footer {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding-top: 13rem;
        img{
            height: 110px;
        }

        .text {
            font-weight: 400;
            font-size: var(--card-para);
            color: white;
            text-align: center;
        }
    }

    .search-box {
        display: flex;
        justify-content: center;
        gap: 4rem;

        .text {
            color: white;
            font-weight: 400;
            font-size: 32px;
        }

        .search {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 39px;
            border-radius: 10px;
            position: relative;
            // width: ;

            input {
                width: 500px;
                padding: 5px 20px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.5);
                color: white;

            }

            ::placeholder {
                color: white;
            }

            button {
                background-color: #00A859;
                color: white;
                padding: 5px 20px;
                border-radius: 10px;
                position: absolute;
                top: 0px;
                right: 0;
            }
        }
    }

    .info {
        display: flex;
        justify-content: center;
        gap: 10rem;
        flex-wrap: wrap;
        padding-bottom: 5rem;

        .section {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .heading {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                h5{
                    font-size: var(--card-heading);
                    color: white;
                    font-weight: 700;
                }
                img{
                    width: 80px;
                }
                
            }
            .data{
                color: white;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                font-size: 20px;
                div{
                    font-size: var(--card-para);
                }
                .icons{
                    padding-top: 10px;
                    display: flex;
                    gap: 1rem;
                    img{
                        height: 30px;
                    }
                }
            }
        }
    }
}