.slick-dots li button:before {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: gray;
}

li.slick-active button:before {
  color: #ffffff !important;
}

.slick-dots {
  bottom: -60px;
}

.slide_parent {
  display: flex !important;
  justify-content: center;
  flex-direction: column !important;
  align-items: center !important;
  width: 290px !important;
  height: 160px;
  background-color: white;
  .icon{
    color: #F1B211;
    font-size: 50px;
    @media screen and (max-width:750px) {
      font-size: 40px;
  }
  }
  @media screen and (max-width:1000px) {
    .slide_parent {
      width: 400px !important;
    }
  }
}
.slick-dots li button:before {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: gray;

  @media screen and (max-width:990px) {
    font-size: 14px;
    width: 15px;
    height: 15px;
  }

}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px; 
  padding: 0;
  cursor: pointer;
  @media screen and (max-width:990px) {
    margin: 0;
  }

}





.parent {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width:1270px) {
    max-width: 910px;
  }

  @media screen and (max-width:1000px) {
    max-width: 600px;
  }

  @media screen and (max-width:650px) {
    max-width: 300px;
  }

  .main {
    display: flex !important;
    justify-content: center !important;
    gap: 10px !important;
  }

  .number1 {
    width: 290px;
    height: 160px;

    background: #ffffff;
    display: flex !important;
    gap: 10px !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h5 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: var(--card-heading);
    line-height: 27px;
    text-align: center;
    @media screen and (max-width:990px) {
      font-size: 18px;
  }
   @media screen and (max-width:750px) {
      font-size: 15px;
  }
  }
}

.slider__main {
  height: 720px;
  position: relative;

  @media screen and (max-width:1400px) {
    height: 600px;
  }

  @media screen and (max-width:800px) {
    height: 500px;
  }

  background: url("../../Assets/Slider/01.jpg");
  position: relative;

  .slider__componet {
    position: absolute;
    bottom: 6rem;
    width: 100%;

    @media screen and (max-width:1270px) {
      left: 1px;
    }
  }
  .welcome-section{
    position: absolute;
    top: 156px;
    left: 100px;
    color: white;
    @media screen and (max-width:800px) {
      top: 96px;
      left: 40px;
    }
    @media screen and (max-width:550px) {
      top: 96px;
      left: 0px;
    }
    h2{
      font-size: 45px;
      font-weight: 700;
      text-align: center;
      @media screen and (max-width:800px) {
        font-size: 40px;
      }
      @media screen and (max-width:550px) {
        font-size: 25px;

      }
    }
    p{
      text-align: center;
      padding-top: .5rem;
      font-size: 18px;
      @media screen and (max-width:800px) {
        font-size: 15px;
      }
    }
  }
}